.kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.logo {
    width:500px;
    margin:0 auto;
    height:100px;
    color:green;
    font-size:80px;
    text-align: center;
}
.form-select {
    width:600px;
    margin:0 auto;
}