.container {
    width: 900px;
    margin: 0 auto;
    padding: 50px;
}


.card-body {
    text-align: center;
}

#login_form {
    display: block;
    width: 300px;
    border: 1px solid pink;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
}

.login_form {
    margin: 0 auto;
}

.one_line {
    width: 85%;
    display: inline-block;
    margin: 2px;
}



.card-img-top {
    max-width: 100%;
    max-height: 250px;
    object-fit: cover;
}

* {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
}