<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/main.css') }}">
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='bootstrapPratice.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <style>
        .profile-format {
            display: flex;
            flex-direction: row;
            gap: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid lightgray;
            margin-bottom: 10px;
            justify-content: center;
        }

        .profile-data {
            width: 50%
        }

        .profile-img>img {
            max-width: 290px;
            max-height: 290px;
        }

        .profile-data>ul>li {
            list-style: none;
            height: 51px;
        }

        .profile-data>ul>li>p {
            width: 50%;
        }

        .content-div {
            position: relative;
        }

        .card {
            margin-bottom: 10px;
        }

        .q-write-wrap {
            overflow: auto;
            position: -webkit-sticky;
            position: sticky;
            display: flex;
            gap: 10px;
            bottom: 0px;
            background: white;
            padding: 5px;
            z-index: 100;
            padding-bottom: 30px;
        }

        .q-write-wrap>textarea {
            width: 88%;
        }

        .card-body input.form-control {
            width: 88%;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="content-div">
            <div class="jungler">
                <div class="profile-format">
                    <div class="profile-img">
                        <img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                            src="{{ url_for('static', filename='img/no_user.jpg') }}" alt="...">
                        <!-- <img src="" class="img-thumbnail" alt=""> -->
                    </div>
                    <div class="profile-data">
                        <ul class="list-group list-group-numbered">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <p>이름은? </p>
                                <p>{{ detail_user.name }}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <p>성별은?</p>
                                <p>{{ '여자' if detail_user.gender == 'F' else '남자'}}</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <p>MBTIi는?</p>
                                <p>
                                    {% if detail_user.mbti1 == 'E' %}
                                    <input type="radio" class="btn-check" name="mbti1" id="mbti_e" autocomplete="off">
                                    <label class="btn btn-secondary" for="mbti_e">E</label>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="mbti1" id="mbti_i" autocomplete="off">
                                    <label class="btn btn-secondary" for="mbti_i">I</label>
                                    {% endif %}
                                    {% if detail_user.mbti2 == 'S' %}
                                    <input type="radio" class="btn-check" name="mbti2" id="mbti_s" autocomplete="off">
                                    <label class="btn btn-secondary" for="mbti_s">S</label>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="mbti2" id="mbti_n" autocomplete="off">
                                    <label class="btn btn-secondary" for="mbti_n">N</label>
                                    {% endif %}
                                    {% if detail_user.mbti3 == 'T' %}
                                    <input type="radio" class="btn-check" name="mbti3" id="mbti_t" autocomplete="off">
                                    <label class="btn btn-secondary" for="mbti_t">T</label>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="mbti3" id="mbti_f" autocomplete="off">
                                    <label class="btn btn-secondary" for="mbti_f">F</label>
                                    {% endif %}
                                    {% if detail_user.mbti4 == 'P' %}
                                    <input type="radio" class="btn-check" name="mbti4" id="mbti_p" autocomplete="off">
                                    <label class="btn btn-secondary" for="mbti_p">P</label>
                                    {% else %}
                                    <input type="radio" class="btn-check" name="mbti4" id="mbti_j" autocomplete="off">
                                    <label class="btn btn-secondary" for="mbti_j">J</label>
                                    {% endif %}
                                </p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <p>취미는?</p>
                                {% if detail_user.hobby == 'game' %}
                                <p class="btn btn-primary">게임</p>
                                {% elif detail_user.hobby == 'webtoon' %}
                                <p class="btn btn-success">웹툰</p>
                                {% elif detail_user.hobby == 'exercise' %}
                                <p class="btn btn-warning">운동</p>
                                {% elif detail_user.hobby == 'play' %}
                                <p class="btn btn-info">악기</p>
                                {% else %}
                                <p class="btn btn-info">기타</p>
                                {% endif %}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <p>나이대는?</p>
                                {% if detail_user.age == '~23' %}
                                <p>20대 초반 ( ~ 23세)</p>
                                {% elif detail_user.age == '24~26' %}
                                <p>20대 중반 (24 ~ 26)</p>
                                {% elif detail_user.age == '27~29' %}
                                <p>20대 후반 (27 ~ 29)</p>
                                {% else %}
                                <p>30대</p>
                                {% endif %}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <p>학식파? 외식파</p>
                                {% if detail_user.meal == 'school' %}
                                <p class="btn btn-primary">학식이 좋아요</p>
                                {% else %}
                                <p class="btn btn-primary">외식이 좋아요</p>
                                {% endif %}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <p>운동은?</p>
                                {% if detail_user.exercise == 'running' %}
                                <p class="btn btn-primary">러닝</p>
                                {% elif detail_user.exercise == 'gogym' %}
                                <p class="btn btn-success">헬스</p>
                                {% elif detail_user.exercise == 'cycling' %}
                                <p class="btn btn-warning">사이클</p>
                                {% elif detail_user.exercise == 'yoga' %}
                                <p class="btn btn-info">요가</p>
                                {% else %}
                                <p class="btn btn-secondary">운동 싫어요</p>
                                {% endif %}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <p>노트북?</p>
                                {% if detail_user.exercise == 'samsumg' %}
                                <p class="btn btn-light">삼성</p>
                                {% elif detail_user.exercise == 'lg' %}
                                <p class="btn btn-light">LG (그램 등)</p>
                                {% elif detail_user.exercise == 'apple' %}
                                <p class="btn btn-light">Apple (mac)</p>
                                {% else %}
                                <p class="btn btn-light">기타</p>
                                {% endif %}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <p>커피취향?</p>
                                {% if detail_user.coffee == 'americano' %}
                                <p class="btn btn-success">아메리카노</p>
                                {% elif detail_user.coffee == 'latte' %}
                                <p class="btn btn-success">라떼</p>
                                {% elif detail_user.coffee == 'ade' %}
                                <p class="btn btn-success">에이드</p>
                                {% elif detail_user.coffee == 'frappe' %}
                                <p class="btn btn-success">프라페(프라푸치노, 블렌디드)</p>
                                {% elif detail_user.coffee == 'tea' %}
                                <p class="btn btn-success">차</p>
                                {% else %}
                                <p class="btn btn-success">기타</p>
                                {% endif %}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <p>아침밥?</p>
                                {% if detail_user.breakfast == 'Y'%}
                                <p class="btn btn-info">먹어요</p>
                                {% else %}
                                <p class="btn btn-info">안먹어요</p>
                                {% endif %}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <p>주량은?</p>
                                {% if detail_user.drink == '0' %}
                                <p class="btn btn-secondary">반 병 이하</p>
                                {% elif detail_user.drink == '1' %}
                                <p class="btn btn-secondary">한 병</p>
                                {% elif detail_user.drink == '2' %}
                                <p class="btn btn-secondary">두 병</p>
                                {% else %}
                                <p class="btn btn-secondary">두 병 이상</p>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="q-list">
                <!-- 답변자도 아니고 질문한 사람도 아닐때 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            This is Question
                        </h5>
                        This is some text within a card body.
                    </div>
                </div>
                <!-- 답변자일 때 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            This is Question
                        </h5>
                        <p>This is some text within a card body.<button type="button"
                                class="btn btn-outline-success">답변수정</button></p>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">답변</label>
                            <button type="button" class="btn btn-success">답변수정</button>
                        </div>
                    </div>
                </div>

                <!-- 질문자일때 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            This is Question
                            <!-- 답변이 있으면 안뜸 -->
                            <button type="button" class="btn btn-outline-success">질문수정</button>
                            <button type="button" class="btn btn-outline-danger">질문삭제</button>
                        </h5>
                        <!-- 질문 수정 시 -->
                        <p>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="">
                            <label for="floatingInput">질문</label>
                            <button type="button" class="btn btn-success">질문수정</button>
                        </div>
                        </p>
                        <p>This is some text within a card body.</p>
                    </div>
                </div>
                <!-- 답변자는 보이지 않음 -->
                <div class="q-write-wrap">
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                    <div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="익명" id="익명">
                            <label class="form-check-label" for="익명">익명으로</label>
                        </div>
                        <button type="button" class="btn btn-success">질문하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>